<div class="card">
    <div class="card-header">{{user.name}} | {{user.username}}
    </div>
    <div class="card-body">
      <ul>
        <li>Entreprise: {{ user.company.name }}</li>
        <li>Adresse: {{ user.address.street }} ,{{user.address.zipcode}}  {{user.address.city }}</li>
        <li>Site : {{user.website}}</li>
      </ul>
    </div>
    <div class="card-footer">
        <span><a [href]="'mailto:'+ user.email">Envoyer un mail</a></span>
        <span><a [href]="'tel:'+ user.phone">Appeler {{user.name}}</a></span>
    </div>
  </div>
