.card {
    background-color:darkgrey;
    border-radius: 5px;
    padding: 5px;
    width: 25vw;
  }
  
  .card-header {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-evenly;
  }
  
  .card-footer a {
    background-color:beige;
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
    color:black
  }